/* General */

:root {
	font-family: sans-serif;
	font-size: 14px;
}
body {
	display: grid;
		grid-template-columns: max-content min(100%, 900px);
		place-content: space-evenly;
		place-items: start center;
		gap: 1rem;
	margin: 1rem;
}



/* Form */

form {
	display: grid;
		grid-template-columns: repeat(2, max-content);
		grid-template-rows: repeat(3, max-content);
	position: sticky;
		top: 1rem;
}

form > label {
	background-color: #1F2F4F;
	color: white;
	font-weight: bold;
	padding: 0.5rem;
}

fieldset {
	all: unset;
	border: 1px solid #DCDCDC;
	margin-bottom: -1px;
	padding: 0.5rem;
}

legend {
	all: unset;
	height: 1px;
	overflow: hidden;
	position: absolute;
	width: 1px;
}

input[type="text"] {
	box-sizing: border-box;
	width: 100%;
}

fieldset:nth-of-type(2) {
	display: flex;
		justify-content: space-between;
}

input[type="checkbox"] {
	margin: 0;
	margin-right: 3px;
	vertical-align: middle;
}

fieldset:last-of-type {
	display: grid;
		gap: 3px 1rem;
		grid-template-columns: repeat(2, max-content);
		grid-template-rows: repeat(4, 1fr);
}



/* Table */

table {
	display: grid;
		grid-template-columns: max-content minmax(min-content, 1fr) repeat(6, max-content);
}
thead,
tbody,
tr {
	grid-column: 1 / span 8;
	display: grid;
		grid-template-columns: subgrid;
}

thead {
	position: sticky;
		top: 0;
}
th {
	padding: 0.75rem 0.5rem;
	background-color: #1F2F4F;
	color: white;
	text-align: start;
	white-space: nowrap;
	user-select: none;
}

th:not(:last-child) {
	cursor: pointer;
}
th:not(:last-child):hover,
th:not(:last-child):focus {
	background-color: #4F5F7F;
}

th::after {
	margin-left: 0.25rem;
	width: 1rem;
	content: "";
	float: right;
}
th.sortTarget::after {
	content: "\25BC";
}
th.sortTarget.sortDesc::after {
	content: "\25B2";
}

tbody {
	gap: 1px;
	padding: 0 1px 1px 1px;
	background-color: #DCDCDC;
}
tr:not(.zebra) td {
	background-color: #FFFFFF;
}
tr.zebra td {
	background-color: #F5F5F5;
}
tr.hidden {
	display: none;
}
td {
	display: flex;
		align-items: center;
		justify-content: center;
	padding: 0;
	text-align: center;
}
td:nth-child(2) {
	justify-content: flex-start;
	text-align: left;
}
img {
	margin: 0.5rem;
}
span {
	margin-right: 0.5rem;
}