:root {
	font-family: sans-serif;
	font-size: 14px;
}

body {
	box-sizing: border-box;
	margin: 1rem auto;
	width: min(900px, (100% - 2rem));
}

table {
	display: grid;
		grid-template-columns:
			max-content
			6fr
			repeat(6, max-content);
}

thead, tbody, tr {
	display: contents;
}

tr:nth-of-type(odd) td {
	background-color: #FFFFFF;
}

tr:nth-of-type(even) td {
	background-color: #F5F5F5;
}

tr.hidden {
	display: none;
}

th, td {
	margin-bottom: -1px;
	margin-right: -1px;
}

th {
	color: white;
	background-color: #1F2F4F;
	padding: 0.75rem 0.5rem;
	text-align: start;
	user-select: none;
	white-space: nowrap;
}

th:not(:last-child) {
	cursor: pointer;
}

th::after {
	content: "";
	float: right;
	margin-left: 0.25rem;
	width: 1rem;
}

th.sortTarget::after {
	content: "\25BC";
}

th.sortTarget.sortDesc::after {
	content: "\25B2";
}

td {
	display: flex;
		align-items: center;
		justify-content: center;
	border: 1px solid #DCDCDC;
	text-align: center;
}

td:nth-child(2) {
	justify-content: flex-start;
}

img {
	margin: 0.5rem;
}